# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
env/
ENV/

# Flask instance folder
instance/

# Environment variables
*.env
.env.*

# Logs
*.log

# IDE files
.vscode/
*.swp

# OS files
.DS_Store
Thumbs.db

# Database files
*.sqlite3
*.db

# Coverage reports
htmlcov/
.coverage
.cache/

# Migrations (optional)
migrations/
