{% extends "base.html" %}
{% block title %}Epicare - Track Seizure{% endblock %}
{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<section class="py-5">
    <div class="container px-5">
        <div class="bg-light rounded-4 py-5 px-4 px-md-5">
            <div class="text-center mb-5">
                <h1 class="display-5 fw-bolder mb-0 mx-5">
                    <span class="text-gradient d-inline">Track Seizure</span>
                </h1>
                <p class="text-muted mt-3">Please provide accurate details to help your healthcare provider. In case of emergency, call 995 immediately.</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <form method="POST" action="">
                        {{ render_field(form.date, class="form-control mt-2") }}
                        {{ render_field(form.time, class="form-control mt-2") }}
                        {{ render_field(form.seizure_type, class="form-control mt-2") }}
                        {{ render_field(form.duration, class="form-control mt-2") }}
                        {{ render_field(form.severity, class="form-control mt-2") }}
                        
                        {{ render_field(form.triggers, class="form-control mt-2") }}
                        {{ render_field(form.notes, class="form-control mt-2") }}
                        <div class="d-grid mt-4">
                            <button class="btn btn-dark btn-lg">Save Record</button>
                        </div>
                        <div class="d-grid mt-2">
                            <a href="{{ url_for('calendar') }}" class="btn btn-secondary btn-lg">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}